{
  "env": {
    "browser": true,
    "es2020": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript"
  ],
  "ignorePatterns": ["dist/*", "node_modules/*"],
  "plugins": ["react", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "warn",
    "react/prop-types": "off",
    "semi": ["error", "always"],
    "react/jsx-filename-extension": "off",
    "camelcase": "off",
    "react/jsx-props-no-spreading": "off",
    // disable react import requirement
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/order": "off",
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": true,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
        "allowSeparatedGroups": false
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/naming-convention": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "max-lines": [
      "error",
      {
        "max": 300,
        "skipBlankLines": false,
        "skipComments": false
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "comma-dangle": ["error", "never"],
        "jsx-a11y/anchor-is-valid": [ "error", {
          "components": [ "Link" ],
          "specialLink": [ "to" ]
        }],
        "react/function-component-definition": ["off"],
        "react/jsx-one-expression-per-line": ["off"],
        "@typescript-eslint/comma-dangle": ["error", "never"],
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": [
              "**/*test.{ts,tsx}",
              "**/*test-*.{ts,tsx}",
              "**/*{.,_}{test,spec}.{ts,tsx}",
              "**/jest.config.ts",
              "**/jest.setup.ts"
            ],
            "optionalDependencies": false
          }
        ],
        "indent": [
          "error",
          2,
          {
            "SwitchCase": 1,
            "VariableDeclarator": 1,
            "outerIIFEBody": 1,
            // MemberExpression: null,
            "FunctionDeclaration": {
              "parameters": 1,
              "body": 1
            },
            "FunctionExpression": {
              "parameters": 1,
              "body": 1
            },
            "CallExpression": {
              "arguments": 1
            },
            "ArrayExpression": 1,
            "ObjectExpression": 1,
            "ImportDeclaration": 1,
            "flatTernaryExpressions": false,
            // list derived from https://github.com/benjamn/ast-types/blob/HEAD/def/jsx.js
            "ignoredNodes": [
              "JSXElement",
              "JSXElement > *",
              "JSXAttribute",
              "JSXIdentifier",
              "JSXNamespacedName",
              "JSXMemberExpression",
              "JSXSpreadAttribute",
              "JSXExpressionContainer",
              "JSXOpeningElement",
              "JSXClosingElement",
              "JSXText",
              "JSXEmptyExpression",
              "JSXSpreadChild"
            ],
            "ignoreComments": false
          }
        ]
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
